@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #00051a;
  --accent: #2645ba;
}

h1 {
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: var(--foreground);
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  color: var(--foreground);
}

.wrapper {
  width: 75%;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 340px;
  max-height: 100px;
}

.links {
  display: flex;
  gap: 30px;
}

.links a {
  text-decoration: none;
  color: var(--foreground);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 150px 50px;
  background: url("images/hero.jpg") center center / cover no-repeat;
  filter: saturate(150%) brightness(1.2) contrast(0.9);
}

.cta {
  background-color: var(--accent);
  padding: 5px 20px;
  text-decoration: none;
  color: var(--background);
  font-weight: 500;
  border-radius: 20px;
}

.about-us {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us .top {
  display: flex;
  gap: 20px;
}

.about-us .top > * {
  flex: 1;
}

.about-us .bottom {
  text-align: center;
  background-color: var(--accent);
  padding: 40px;
}

.about-us .bottom * {
  color: var(--background);
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.service {
  display: flex;
  gap: 50px;
}
.service > * {
  flex: 1;
}

.service img {
  width: 500px;
  max-width: 50%;
  max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.service ul {
  list-style-position: inside;
}

.prices ol {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.teenuspiirkond {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--accent);
  padding: 30px;
}

.teenuspiirkond * {
  color: white;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
  padding: 50px;
  padding-left: 30%;
  padding-right: 30%;
  background-color: var(--accent);
  border-radius: 75px;
}

#form * {
  color: var(--background);
}

#form .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form .right input,
textarea {
  width: 300px;
  resize: none;
  background-color: transparent;
  border: 1px solid var(--background);
  color: var(--background);
  padding: 10px 20px;
  border-radius: 25px;
  outline: none;
}

#form .right input::placeholder,
textarea::placeholder {
  color: var(--background);
  opacity: 0.5;
}

#form .right input[type="submit"] {
  background-color: var(--background);
  color: var(--accent);
  width: 100%;
  height: 50px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;

  animation: scroll 40s linear infinite;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  background-color: #d6d6d6;
  padding: 40px;
  border: 1px solid black;
  height: fit-content;
  border-radius: 10px;
  flex-shrink: 0;
  user-select: none;
}

.review * {
  color: var(--foreground);
  font-weight: 600;
}

.review .by {
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

footer .right {
  display: flex;
  gap: 1rem;
}

footer .right a,
svg {
  width: 30px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}
